[data-gd-view="home"] #app-view{

}

#gamegrid {
    position: relative;
}

.gamegridslider{
    height:87vh;
    overflow-y: auto;
}

[data-gamelist-style="block"] #gamegrid .gameitem {
    display: inline-block;
    position: relative;
    perspective: 150px;
    perspective-origin: bottom;
    cursor: pointer;
    margin:5px;
    width: calc(min(max(100vh, 100vw) * 0.2, 30rem));
    height: calc(min(max(100vh, 100vw) * 0.2 / 2.12, 14.15rem));
    text-align: left;
}
.gameitem.active {
    z-index: 2 !important;
}
.gameitem.active .frame {
    box-shadow: 0px 0px 21px 6px #6fb0ff54 !important;
    transform: scale(1.1);
    border-color: #6fb0ffbd !important;
}

[data-gamelist-style="block"] #gamegrid.portrait .gameitem{
    width: calc(min(max(100vh, 100vw) * 0.1, 14rem));
    height: calc(min(max(100vh, 100vw) * 0.1 / 0.7778, 18rem));
}

[data-gamelist-style="block"] #gamegrid .gameitem .imageportrait
{
    background-image: url('../media/def_imageportrait.jpg');
    display: none;
}

[data-gamelist-style="block"] #gamegrid .gameitem .imagelandscape{   
    background-image: url('../media/def_imagelandscape.jpg');
}

[data-gamelist-style="block"] #gamegrid.portrait .gameitem .imageportrait{   
    display: inline-block;
}
[data-gamelist-style="block"] #gamegrid.portrait .gameitem .imagelandscape{   
    display: none;
}

[data-gamelist-style="block"] #gamegrid .gameitem .frame{
    border: 1px solid #002b43;
    border-top-color: #435e6d;
    border-left-color: #193443;
    width: 100%;
    height: 100%;
    position: absolute;    
    transition: all ease-in-out 300ms;
    overflow: hidden;
    box-shadow: 0px 0px 0px #000;
}

[data-gamelist-style="block"] #gamegrid .gameitem .imageportrait
,[data-gamelist-style="block"] #gamegrid .gameitem .imagelandscape
,[data-gamelist-style="block"] #gamegrid .gameitem .light{
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;
}

[data-gamelist-style="block"] #gamegrid .gameitem .imageportrait.waslandscape
{
    background-size: contain;
    background-position: 50% 50%;    
}

[data-gamelist-style="block"] #gamegrid .gameitem .title{
    z-index: 8;
    position: absolute;
    bottom: 0px;
    font-size: 0.7rem;
    width: 100%;
    padding: 3px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.664);
    opacity: 0;
    pointer-events: none;
    transition: opacity ease-in-out 300ms;
}

[data-gamelist-style="block"] #gamegrid .gameitem .imageportrait,
[data-gamelist-style="block"] #gamegrid .gameitem .imagelandscape{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

[data-gamelist-style="block"] #gamegrid .gameitem .light{
    background-image: url('../media/gameitem_light.png');
    z-index: 5;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.3;
    transform: scaleX(-1);
    transition: height ease-in-out 300ms;
}

[data-gamelist-style="block"] #gamegrid .gameitem:hover
{
    z-index: 3;
}

[data-gamelist-style="block"] #gamegrid .gameitem:hover .frame
{
    transform: scale(1.1) rotateX(3deg) translateY(3px);
    box-shadow: 0px 10px 10px #000;
    filter:brightness(1.2);
}

[data-gamelist-style="block"] #gamegrid .gameitem:hover .title{
    opacity: 1;
    pointer-events: all;
}

[data-gamelist-style="block"] #gamegrid .gameitem:hover .light{
    height: 400%;
}

.row.game_dialog {
    margin-right: 0px;
    margin-left: 0px;
}

.game_dialog .col-info {
    border-right: 1px solid #484646;
    background-image: url('../media/def_imagelandscape.jpg');
    background-size: cover;
    background-position: 50% 0%;   
    border-radius: 10px;
    border: 1px solid #333;
    box-shadow: 3px 3px 10px black;
    min-height: 200px; 
}

.game_dialog .col-buttons{    
}

.game_dialog .col-buttons .icon{
    filter: brightness(0.7);    
    cursor: pointer;
    transition: all ease-in-out 150ms;
    font-size: 2rem;
    line-height: 1;
    display: inline-block;
}

.game_dialog .col-buttons .icon:hover{
    filter: brightness(1);
    color:#71cefd;
    transform: scale(1.1);
}

.game_dialog .game-error{
    word-break: break-word;
    border: 1px solid #222;
    background-color: #111;
    padding: 1rem;
    margin-top: 1rem;
    max-height: 10rem;
    overflow-y: auto;
}

.game_dialog .col-buttons .game-starting{
    pointer-events: none;
    opacity: 0.3;
}

.game-running .col-buttons .btn-start{
    display: none;
}

.game_dialog .col-buttons .btn-stop{
    display: none
}

.modal.game-running .col-buttons .btn-stop{
    display: inline-block;
}

#grid_main{
    padding-left: 3rem;
    padding-right: 3rem;
}

.gameitem .playicon{
    position: absolute;
    pointer-events: none;    
    z-index: 9;
    background-color: #000000a8;
    border-radius: 10px;
    top: 4px;
    left: 4px;
    display: none;
}

.gameitem.started .playicon{
    display: inline-block;
    pointer-events: all;
    cursor: pointer;    
}


#csscontroller #home_loaded {
    width: 100px;
}
